<main class="welcome-page">
  <div class="user-login">
    <section class='welcome-content'>
      <%= form_for :session, url: login_path do |f| %>

          <%= f.label :email %>
          <%= f.text_field :email %><br>

          <%= f.label :password %>
          <%= f.password_field :password %><br>

            <%= f.submit 'Log In' %>
      <% end %>
      <h4>Or</h4>
      <%= button_to "Login With Spotify", spotify_login_path, class: "welcome-btn", method: :get %>
    </section>
  </div>
</main>
