<main class="welcome-page">
  <section class='welcome-content'>
  <h3>Quote of the Day from <%= @quote.author %>: </h3>
  <p> <%= @quote.text %></p>
  <h1> Topic: <%= @studySession.topic %> </h1>
  <h2 id="counter"></h2>
  <% if @studySession.paired == true %>
    <p> You are currently paired </p>
  <% else %>
    <p> You are going solo </p>
  <% end %>
  <%= link_to 'End Session',  @studySession,  method: :delete,
  data: {confirm: "Ending the session early will not allow it to count towards your statistics.\nAre you sure?" } %>
  </section>
<body>

  <% if current_user && !current_user.spotify_token.nil?%>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <div class="w3-dropdown-hover">
      <button class="w3-button w3-black">Choose Playlist</button>
      <div class="w3-dropdown-content w3-bar-block w3-border">
        <% @playlists.each do |playlist| %>
          <a href="<%= playlist.url %>" target="search_iframe"><%= playlist.name %></a> -
        <% end %>
        <a href="https://open.spotify.com/embed/playlist/2qo6t4Qxc8F4fmr7cHpV8W" target="search_iframe">Google</a>
      </div>
    </div>
  <% end %>


<iframe src="https://open.spotify.com/embed/playlist/2qo6t4Qxc8F4fmr7cHpV8W" name="search_iframe" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>

  <script type="text/javascript">
    function countdown(seconds_params) {
    if (seconds_params < 3600){
      var hours = 0;
    }else{
      var hours = Math.floor(seconds_params / 3600);
    }
    if (seconds_params < 60){
      var mins = 0;
    }else{
      var mins = Math.floor((seconds_params / 60 ) % 60) - 1;
    }
    if (((hours * 3600) + ( mins * 60)) == seconds_params){
      var seconds = 60;
    }else {
      var seconds = seconds_params - (hours * 3600) - (mins*60);
    }

    function tick() {
        var counter = document.getElementById("counter");
        seconds --;
        if( mins < 1) {
          if(seconds < 1){
            counter.innerHTML = "You are DONE! "+"<a href='/dashboard'> Return To Home</a>";
          }
          else {
            counter.innerHTML = (hours < 10 ? "0" : "") + String(hours) + ":" +
                                (mins < 10 ? "0" : "") +
                                String(mins) + ":" +
                                (seconds < 10 ? "0" : "") + String(seconds);
            if (hours < 1){
              setTimeout(tick, 1000);
            }else{
              hours --;
              countdown((hours * 3600) + ((mins-1) * 60)+3600);
            }
          }
        }
        else {
          counter.innerHTML = (hours < 10 ? "0" : "") + String(hours) + ":" +
                              (mins < 10 ? "0" : "") +
                              String(mins) + ":" +
                              (seconds < 10 ? "0" : "") + String(seconds);
          if( seconds > 0 ) {
            setTimeout(tick, 1000);
          } else {
            if(mins >= 1){
              countdown((hours * 3600) + ((mins-1) * 60));
            }
          }
        }

    }
    tick();
  }
  countdown(<%= @studySession.duration * 60 %>);
  </script>

  </body>
</main>
