<main class="user-page">
  <div class="row">
    <div class="column-left">
      <section class='user-content'>
          <h3>Quote of the Day from <%= @quote.author %>: </h3>
          <p> <%= @quote.text %></p>
        </section>
      </div>

    <div class="column-center">
  <section class='user-content'>
    <h1> Topic: <%= @studySession.topic %> </h1>
  <h2 id="counter"></h2>
  <% if @studySession.paired == true %>
    <p> You are currently paired </p>
  <% else %>
    <p> You are going solo </p>
  <% end %>
  <%= link_to 'End Session',  @studySession,  method: :delete,
  data: {confirm: "Ending the session early will not allow it to count towards your statistics.\nAre you sure?" } %>
  </section>
  </div>

<div class ="column-right">

  <% if current_user && !current_user.spotify_token.nil?%>
    <div class="dropdown">
    <button class="dropbtn">Dropdown</button>
      <div class="dropdown-content">  <% @playlists.each do |playlist| %>
          <a href="<%= playlist.url %>" target="search_iframe"><%= playlist.name %></a>
        <% end %>
        <a href="https://open.spotify.com/embed/playlist/2qo6t4Qxc8F4fmr7cHpV8W" target="search_iframe">Default</a>
      </div>
    </div>
  <% end %>
  <iframe src="https://open.spotify.com/embed/playlist/2qo6t4Qxc8F4fmr7cHpV8W" name="search_iframe" width=100% height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>

  </div>
  </div>
</main>
<script type="text/javascript">
  countdown(<%= @studySession.duration %>);
</script>
