<main class="user-page">
  <section class='user-content'>
    <%= form_with model: @user do %>
      <%= label_tag :name %>
      <%= text_field(:user, :name) %>
      <p></p>
      <%= label_tag :email %>
      <%= text_field(:user, :email) %>
      <p></p>
      <%= submit_tag 'Update' %>
    <% end %>
  </section>
</main>
