<main class="user-page">
  <section class='user-content'>
    <%= form_with model: @user do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name %>
      <p></p>
      <%= f.label :email %>
      <%= f.text_field :email %>
      <p></p>
      <%= f.label :password %>
      <%= f.password_field :password %>
      <p></p>
      <%= f.submit 'Register' %>
    <% end %>
  </section>
</main>
