<h1>Users Show Page</h1>
<h2>Welcome <%= @user.name %></h2>

<p>E-Mail: <%= @user.email %></p>


<p><%= link_to 'Edit Profile', edit_user_path(@user) %></p>
<p><%= link_to 'Delete Profile', "/users/#{@user.id}", method: :delete %></p>
<% if current_user %>
  <%= button_to "Connect to Spotify", spotify_login_path, class: "welcome-btn", method: :get %>
<% end %>
