<main class="user-page">
  <div class="row">
    <div class="column-left">
      <section class='user-content'>
          <h3>Quote of the Day from <%= @quote.author %>: </h3>
          <p> <%= @quote.text %></p>
        </section>
      </div>
    <div class="column-center">
      <section class='user-content'>
    <h2>Welcome <%= current_user.name %></h2>

    <p>E-Mail: <%= current_user.email %></p>

<%= link_to 'New Study Session', '/study_sessions/new', method: :get %>
<p><%= link_to 'Edit Profile', edit_user_path(current_user) %></p>
<p><%= link_to 'Delete Profile', "/users/#{current_user.id}", method: :delete %></p>
<% if current_user && current_user.spotify_token.nil? %>
  <%= button_to "Connect to Spotify", spotify_login_path, class: "welcome-btn", method: :get %>
<% end %>

    <% if current_user.study_sessions.present? %>
      <p>Previous Sessions</p>
      <% current_user.study_sessions.limit(3).each do |session| %>
        <p>Topic: <%= session.topic %> //
        <%= session.duration %> mins</p>
        <%= button_to 'Repeat Session', "/study_sessions", method: :post, params:{id:session.id, topic:session.topic, duration:session.duration} %>
      <% end %>
    <% end %>
  </section>
</div>
  <div class ="column-right">
    <% if current_user && !current_user.spotify_token.nil?%>
      <div class="dropdown">
      <button class="dropbtn">Dropdown</button>
        <div class="dropdown-content">  <% @playlists.each do |playlist| %>
            <a href="<%= playlist.url %>" target="search_iframe"><%= playlist.name %></a>
          <% end %>
          <a href="https://open.spotify.com/embed/playlist/2qo6t4Qxc8F4fmr7cHpV8W" target="search_iframe">Default</a>
        </div>
      </div>
    <% end %>
    <iframe src="https://open.spotify.com/embed/playlist/2qo6t4Qxc8F4fmr7cHpV8W" name="search_iframe" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    </div>
  </div>
</main>
