<main class="user-page">
  <section class='user-content'>
    <h3>Quote of the Day from <%= @quote.author %>: </h3>
    <p> <%= @quote.text %></p>
    <h1>Users Show Page</h1>
    <h2>Welcome <%= current_user.name %></h2>

    <p>E-Mail: <%= current_user.email %></p>

<%= link_to 'New Study Session', '/study_sessions/new', method: :get %>
<p><%= link_to 'Edit Profile', edit_user_path(current_user) %></p>
<p><%= link_to 'Delete Profile', "/users/#{current_user.id}", method: :delete %></p>
<% if current_user && current_user.spotify_token.nil? %>
  <%= button_to "Connect to Spotify", spotify_login_path, class: "welcome-btn", method: :get %>
<% end %>

    <% if current_user.study_sessions.present? %>
      <p>Previous Sessions</p>
      <% current_user.study_sessions.limit(3).each do |session| %>
        <p>Topic: <%= session.topic %> //
        <%= session.duration %> mins</p>
        <%= button_to 'Repeat Session', "/study_sessions", method: :post, params:{id:session.id, topic:session.topic, duration:session.duration} %>
      <% end %>
    <% end %>
  </section>
</main>

<% if current_user && !current_user.spotify_token.nil?%>
  <%= form_with(url: "/dashboard", method: "post") do %>
    <%= select_tag "playlist-select", options_from_collection_for_select(@playlists, "name", "name"), prompt: "Select Playlist" %>
      <%= submit_tag 'Play' %>
  <% end %>
<% end %>


<section id= "spotify-embedded">
  <% if @src && @src != "Placeholder" %>
   <!-- elsif current_user && !current_user.spotify_token.nil? -->
   <iframe src="<%= @src %>" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
   <% elsif @user_selection.nil? %>
    <iframe src="https://open.spotify.com/embed/playlist/2qo6t4Qxc8F4fmr7cHpV8W" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
  <% else %>
    <iframe src="https://open.spotify.com/embed/playlist/2qo6t4Qxc8F4fmr7cHpV8W" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
  <% end %>
</section>

<script type="text/javascript">
  let iframe =
  let submitButton = document.querySelector("#play-button");
  submitButton.addEventListener("click", function(){

  });
</script>

<iframe src="https://open.spotify.com/embed/playlist/365QyXGqBSak3huapdFuzZ" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
