<main class='about-page'>
  <section class="about-section">
    <h1 class='about-title'>About This App</h1>

    <h2>DESCRIPTION</h2>
    <p>
      This Application was a 4-person project utilizing Ruby on Rails and Sinatra.
      It allows the user to set a time blocked session for them to study. Spotify Premium
      users can opt-in with their Spotify account and listen to music as they study.
      They can track statistics about their sessions within the Stats section including information
      like overall time studied and how long they have studied a specific topic.
    </p>

    <h2>TECH STACK:</h2>
    <h3>Ruby on Rails, Sinatra, Spotify Oauth, Github / Github Project Manager, Travis CI</h3>

    <h2>DEVELOPERS</h2>
    <section class="dev-section">
      <article class="devs">
        <%= image_tag("https://ca.slack-edge.com/T029P2S9M-UED1JSA3U-6298f00f851f-512", width: "200px") %>
        <h3>Name: De'Marcus Kirby</h3>
        <p>Hometown: Dallas, TX</p>
        <%= link_to "Github Profile", "https://www.github.com/KirbyDD", class: 'github-btn' %>
      </article>
      <article class="devs">
        <%= image_tag("https://ca.slack-edge.com/T029P2S9M-UM94QV11B-b41a9a01cfb7-512", width: "200px") %>
        <h3>Name:Paul Debevec</h3>
        <p>Hometown: Berthoud, CO</p>
        <%= link_to "Github Profile", "https://github.com/PaulDebevec", class: 'github-btn' %>
      </article>
      <article class="devs">
        <%= image_tag("https://ca.slack-edge.com/T029P2S9M-UQTT2HLUE-f176f4a950f6-512", width: "200px") %>
        <h3>Name: Colin Alexander</h3>
        <p>Hometown: Los Alamos, NM</p>
        <%= link_to "Github Profile", "https://github.com/coloniusrex", class: 'github-btn' %>
      </article>
      <article class="devs">
        <%= image_tag("https://ca.slack-edge.com/T029P2S9M-UQRM2MBS9-15aa149605b2-512", width: "200px") %>
        <h3>Name: Maxwell Baird</h3>
        <p>Hometown: Broomfield, CO</p>
        <%= link_to "Github Profile", "https://github.com/Maxwell-Baird", class: 'github-btn' %>
      </article>
    </section>
  </section>
</main>
