<!DOCTYPE html>
<html>
  <head>
    <title>JamSession</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <div class="links">
        <%= link_to "Home", '/', class: "nav-link" %>
        <%= link_to "Dashboard", '/Dashboard', class: "nav-link" %>
        <%= link_to "Stats", '/stats', class: "nav-link" %>
        <%= link_to "About", '/about', class: "nav-link" %>
      </div>
      <div>
        <%= link_to "Logout", '/logout', class: "nav-link" %>
      </div>
    </nav>
    <%= image_tag("https://www.whenthereshelpthereshope.com/wp-content/uploads/52265235_l.jpg", class: "welcome-bg") %>
    <%= yield %>
  </body>
</html>
